{% extends 'base.html' %} {% block content %}
{{error}}
<article>
    <form action="" method="post">
        {% csrf_token %}
        {{form}}
        <button>Save</button>
    </form>
    <form action="{% url 'complete_task' task.id %}" method="post">
        {% csrf_token %}
        <button>
            Complete
        </button>
    </form>
    <form action="{% url 'delete_task' task.id %}" method="post">
        {% csrf_token %}
        <button>
            Delete
        </button>
    </form>    
</article>
{% endblock %}
